
body{
}
p.intro{
    margin: 20px;
    font-size: 25px
}

main{
    display: grid;
    grid-template-columns: 47% 6% 47%;

}

#Beneficios{
    grid-column: 1/2;
    background-color: rgb(146, 238, 146);


}
#listBenificios{
    grid-column: 3/4;
    background-color: rgb(146, 238, 146);
}
#atitude{
    grid-column: 1/4
}

