header {
    text-align: center;
    background-color: #96E6B3;
    margin-top: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #d1ffe2;
    text-align: justify;
    margin: 0;
    margin-top: 0;
    padding: 0;
}

#logo {
    height: 60%;
    margin: 0;
}

#menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    display: inline-block;
    width: 20%;
    height: 45px;
    padding-top: 15px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    text-decoration: none;
    text-decoration-line: none;
    background-color: #a5c9b2;
}

#menu a {
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 15px 90px 15px 90px;
}
/**
li#economico li:hover{
    background-image: url("images/Cartoon-Money-10.png");
}
*/
#menu li:hover {
    background-color: #87a391;
}

main {
    text-align: justify;
    padding: 0px 60px 0px 30px;
    text-align: middle;
}

h1 {
    text-align: center;
}

iframe{
    align-self: center;
}

aside{
    margin-top: 50px;
}

footer{
    margin-top: 50px;
}